<template>
  <div>
    <nuxt-link to="/jokes"><button>Back to Jokes</button></nuxt-link>
    <h2>{{ joke }}</h2>
    <hr />
    <small>Joke ID: {{ $route.params.id }}</small>
  </div>
</template>

<script>
import axios from "axios";

export default {
  head() {
    return {
      title: this.joke,
      meta: [
        {
          hid: "decription",
          name: "description",
          content: "Best place for Dad jokes"
        }
      ]
    };
  },
  data() {
    return {
      joke: {}
    };
  },
  async created() {
    const config = {
      headers: {
        Accept: "application/json"
      }
    };

    try {
      const response = await axios.get(
        `https://icanhazdadjoke.com/j/${this.$route.params.id}`,
        config
      );

      this.joke = response.data.joke;
    } catch (error) {
      console.log(error);
    }
  }
};
</script>

<style></style>
