<template>
  <div>
    <h1>About Dad Jokes</h1>
    <p>This is an app for dad jokes</p>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: "About the app",
      meta: [
        {
          hid: "decription",
          name: "description",
          content: "Best place for Dad jokes"
        }
      ]
    };
  }
};
</script>

<style></style>
