<template>
  <div class="container">
    <h2>Welcome to the dad joke app</h2>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: "Dad jokes",
      meta: [
        {
          hid: "decription",
          name: "description",
          content: "Best place for Dad jokes"
        }
      ]
    };
  }
};
</script>
